# Watch Me Code 2: Reading HTML tables from Websites

In [4]:
import pandas as pd

In [ ]:
# HTTP Error - need to set a user agent
tables = pd.read_html("https://ist256.github.io")

In [5]:
# a good default user agent is just Mozilla/5.0
# we set this in the headers using storage_options
headers = {"User-Agent": "Mozilla/5.0"}
tables = pd.read_html("https://ist256.github.io", storage_options=headers)

In [ ]:
# tables is a list... of every table on the page

len(tables)

In [6]:
# first table
tables[0]

          Dates                                              Topic
0   1/13 - 1/19      Lesson 01: Introduction to Python Programming
1   1/20 - 1/26  Lesson 02: Input, Output, Variables and Types ...
2    1/27 - 2/2                            Lesson 03: Conditionals
3     2/3 - 2/9                              Lesson 04: Iterations
4   2/10 - 2/16         Lesson 05: User-defined Functions, Modules
5   2/17 - 2/23             Lesson 06: Strings and Text Processing
6    2/24 - 3/2                Lesson 07: File I/O and Persistence
7     3/3 - 3/9                 Exam Week E1 on 3/3 in Large Group
8   3/10 - 3/16                            SPRING BREAK No Classes
9   3/17 - 3/23                                   Lesson 08: Lists
10  3/24 - 3/30                   Lesson 09: Dictionaries and JSON
11   3/31 - 4/6                                Lesson 10: Pandas I
12   4/7 - 4/13  Lesson 11: Pandas II  P1 project deliverable d...
13  4/14 - 4/20                      Lesson 12: Data Visualization
14  4/21 - 4/27  Lesson 13: Web API’s P2 project deliverable du...
15   4/28 - 5/4  E2 on 4/28 in Large Group  P3 and P4 Project d...

In [7]:
# last table
tables[-1]

,Date Due,Time Due,Gradebook,Points,Where?,What is Due?
0,1/17/2025,11:59 PM,L01,3,Jupyterhub,01-Intro/LAB-Intro.ipynb
1,1/15/2025,11:59 PM,C1,3,Small Group,Computational Literacy Diagnostic 1
2,1/21/2025,11:59 PM,L02,3,Jupyterhub,02-Variables/LAB-Variables.ipynb
3,1/22/2025,11:59 PM,S02,3,Jupyterhub,02-Variables/SmallGroup-Variables.ipynb
4,1/24/2025,11:59 PM,H02,3,Jupyterhub,02-Variables/HW-Variables.ipynb
5,1/28/2025,11:59 PM,L03,3,Jupyterhub,03-Conditionals/LAB-Conditionals.ipynb
6,1/29/2025,11:59 PM,S03,3,Jupyterhub,03-Conditionals/SmallGroup-Conditionals.ipynb
7,1/31/2025,11:59 PM,H03,3,Jupyterhub,03-Conditionals/HW-Conditionals.ipynb
8,2/4/2025,11:59 PM,L04,3,Jupyterhub,04-Iterations/LAB-Iterations.ipynb
9,2/5/2025,11:59 PM,S04,3,Jupyterhub,04-Iterations/SmallGroup-Iterations.ipynb
10,2/7/2025,11:59 PM,H04,3,Jupyterhub,04-Iterations/HW-Iterations.ipynb
11,2/11/2025,11:59 PM,L05,3,Jupyterhub,05-Functions/LAB-Functions.ipynb
12,2/12/2025,11:59 PM,S05,3,Jupyterhub,05-Functions/SmallGroup-Functions.ipynb
13,2/14/2025,11:59 PM,H05,3,Jupyterhub,05-Functions/HW-Functions.ipynb
14,2/18/2025,11:59 PM,L06,3,Jupyterhub,06-Strings/LAB-Strings.ipynb
15,2/19/2025,11:59 PM,S06,3,Jupyterhub,06-Strings/SmallGroup-Strings.ipynb
16,2/21/2025,11:59 PM,H06,3,Jupyterhub,06-Strings/HW-Strings.ipynb
17,2/25/2025,11:59 PM,L07,3,Jupyterhub,07-Files/LAB-Files.ipynb
18,2/26/2025,11:59 PM,S07,3,Jupyterhub,07-Files/SmallGroup-Files.ipynb
19,2/28/2025,11:59 PM,H07,3,Jupyterhub,07-Files/HW-Files.ipynb
20,3/3/2025,11:59 PM,E1,45,Large Group,E1: Exam 1 (Focus on Lessons 1-7)
21,3/5/2025,11:59 PM,C2,3,Small Group,Computational Literacy Diagnostic 2
22,3/18/2025,11:59 PM,L08,3,Jupyterhub,08-Lists/LAB-Lists.ipynb
23,3/19/2025,11:59 PM,S08,3,Jupyterhub,08-Lists/SmallGroup-Lists.ipynb
24,3/21/2025,11:59 PM,H08,3,Jupyterhub,08-Lists/HW-Lists.ipynb
25,3/25/2025,11:59 PM,L09,3,Jupyterhub,09-Dictionaries/LAB-Dictionaries.ipynb
26,3/26/2025,11:59 PM,S09,3,Jupyterhub,09-Dictionaries/SmallGroup-Dictionaries.ipynb
27,3/28/2025,11:59 PM,H09,3,Jupyterhub,09-Dictionaries/HW-Dictionaries.ipynb
28,4/1/2025,11:59 PM,L10,3,Jupyterhub,10-Pandas-I/LAB-PandasI.ipynb
29,4/2/2025,11:59 PM,S10,3,Jupyterhub,10-Pandas-I/SmallGroup-PandasI.ipynb
30,4/4/2025,11:59 PM,H10,3,Jupyterhub,10-Pandas-I/HW-PandasI.ipynb
31,4/8/2025,11:59 PM,L11,3,Jupyterhub,11-Pandas-II/LAB-PandasII.ipynb
32,4/9/2025,11:59 PM,S11,3,Jupyterhub,11-Pandas-II/SmallGroup-PandasII.ipynb
33,4/11/2025,11:59 PM,H11,3,Jupyterhub,11-Pandas-II/HW-PandasII.ipynb
34,4/11/2025,11:59 PM,P1,0,Jupyterhub,project/P1.ipynb
35,4/15/2025,11:59 PM,L12,3,Jupyterhub,12-Visualization/LAB-Visualization.ipynb
36,4/16/2025,11:59 PM,S12,3,Jupyterhub,12-Visualization/SmallGroup-Visualization.ipynb
37,4/18/2025,11:59 PM,H12,3,Jupyterhub,12-Visualization/HW-Visualization.ipynb
38,4/22/2025,11:59 PM,L13,3,Jupyterhub,13-WebAPIs/LAB-Webapis.ipynb
39,4/23/2025,11:59 PM,S13,3,Jupyterhub,13-WebAPIs/SmallGroup-Webapis.ipynb
40,4/25/2025,11:59 PM,H13,3,Jupyterhub,13-WebAPIs/HW-Webapis.ipynb
41,4/25/2025,11:59 PM,P2,0,Jupyterhub,project/P2.ipynb
42,4/28/2025,11:59 PM,E2,45,Large Group,E2: Exam 2 (Focus on Lessons 8-13)
43,5/4/2025,11:59 PM,P3,0,Jupyterhub,project/P3.ipynb
44,5/4/2025,11:59 PM,P4,49,Jupyterhub,project/P4.ipynb

In [8]:
headers = {"User-Agent": "Mozilla/5.0"}
tables = pd.read_html("https://www.baseball-reference.com/leagues/MLB-standings.shtml", storage_options=headers)
len(tables)

6

In [9]:
# loop over each table and display
from IPython.display import display
for index in range(len(tables)):
    print("INDEX:", index)
    display(tables[index])

INDEX: 0

                  Tm  W  L   W-L%   GB
0   New York Yankees  6  3  0.667   --
1     Boston Red Sox  6  4  0.600  0.5
2  Toronto Blue Jays  5  5  0.500  1.5
3     Tampa Bay Rays  4  5  0.444  2.0
4  Baltimore Orioles  4  6  0.400  2.5

INDEX: 1

                    Tm  W  L   W-L%   GB
0       Detroit Tigers  5  4  0.556   --
1   Kansas City Royals  4  5  0.444  1.0
2  Cleveland Guardians  3  6  0.333  2.0
3      Minnesota Twins  3  6  0.333  2.0
4    Chicago White Sox  2  7  0.222  3.0

INDEX: 2

                   Tm  W  L   W-L%   GB
0       Texas Rangers  8  2  0.800   --
1  Los Angeles Angels  6  3  0.667  1.5
2      Houston Astros  4  5  0.444  3.5
3           Athletics  4  6  0.400  4.0
4    Seattle Mariners  3  7  0.300  5.0

INDEX: 3

                      Tm  W  L   W-L%   GB
0  Philadelphia Phillies  7  2  0.778   --
1          New York Mets  6  3  0.667  1.0
2          Miami Marlins  5  4  0.556  2.0
3   Washington Nationals  3  6  0.333  4.0
4         Atlanta Braves  1  8  0.111  6.0

INDEX: 4

                    Tm  W  L   W-L%   GB
0         Chicago Cubs  7  5  0.583   --
1    Milwaukee Brewers  5  5  0.500  1.0
2  St. Louis Cardinals  4  5  0.444  1.5
3      Cincinnati Reds  3  7  0.300  3.0
4   Pittsburgh Pirates  3  7  0.300  3.0

INDEX: 5

                     Tm  W  L   W-L%   GB
0  San Francisco Giants  8  1  0.889   --
1   Los Angeles Dodgers  9  2  0.818   --
2      San Diego Padres  8  2  0.800  0.5
3  Arizona Diamondbacks  5  5  0.500  3.5
4      Colorado Rockies  2  7  0.222  6.0

In [14]:
tables[0]["division"] = "AL/East"
tables[1]["division"] = "A/Central"
pd.concat(tables)

                      Tm  W  L   W-L%   GB   division
0       New York Yankees  6  3  0.667   --    AL/East
1         Boston Red Sox  6  4  0.600  0.5    AL/East
2      Toronto Blue Jays  5  5  0.500  1.5    AL/East
3         Tampa Bay Rays  4  5  0.444  2.0    AL/East
4      Baltimore Orioles  4  6  0.400  2.5    AL/East
0         Detroit Tigers  5  4  0.556   --  A/Central
1     Kansas City Royals  4  5  0.444  1.0  A/Central
2    Cleveland Guardians  3  6  0.333  2.0  A/Central
3        Minnesota Twins  3  6  0.333  2.0  A/Central
4      Chicago White Sox  2  7  0.222  3.0  A/Central
0          Texas Rangers  8  2  0.800   --        NaN
1     Los Angeles Angels  6  3  0.667  1.5        NaN
2         Houston Astros  4  5  0.444  3.5        NaN
3              Athletics  4  6  0.400  4.0        NaN
4       Seattle Mariners  3  7  0.300  5.0        NaN
0  Philadelphia Phillies  7  2  0.778   --        NaN
1          New York Mets  6  3  0.667  1.0        NaN
2          Miami Marlins  5  4  0.556  2.0        NaN
3   Washington Nationals  3  6  0.333  4.0        NaN
4         Atlanta Braves  1  8  0.111  6.0        NaN
0           Chicago Cubs  7  5  0.583   --        NaN
1      Milwaukee Brewers  5  5  0.500  1.0        NaN
2    St. Louis Cardinals  4  5  0.444  1.5        NaN
3        Cincinnati Reds  3  7  0.300  3.0        NaN
4     Pittsburgh Pirates  3  7  0.300  3.0        NaN
0   San Francisco Giants  8  1  0.889   --        NaN
1    Los Angeles Dodgers  9  2  0.818   --        NaN
2       San Diego Padres  8  2  0.800  0.5        NaN
3   Arizona Diamondbacks  5  5  0.500  3.5        NaN
4       Colorado Rockies  2  7  0.222  6.0        NaN

In [ ]:
tables[0]['League'] = 'AL'
tables[0]['Division'] = 'East'

In [ ]:
teams_df = pd.concat(tables, ignore_index=True)

In [ ]:
teams_df

In [ ]:
teams_df.loc[25, "Tm"]

In [ ]:
# Everone who has more than 5 wins
teams_df[ teams_df['W'] > 5 ]